<h1>Listing Artifacts</h1>

<%= link_to 'New artifact', new_artifact_path %>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
    </tr>

    <% @artifacts.each do |artifact| %>
        <tr>
            <td><%= artifact.name %></td>
            <td><%= artifact.description %></td>
            <td><%= link_to 'Show', artifact_path(artifact) %></td>
            <td><%= link_to 'Edit', edit_artifact_path(artifact) %></td>
            <td><%= link_to 'Destroy', artifact_path(artifact), method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
</table>