<link href="https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap" rel="stylesheet">
<div class="container-show">
  <div class= "box-details-show">
    <div>
      <strong>Név:</strong>
      <%= @artifact.name %>
    </div>
    <br>
    <div>
      <strong>Leltárszám:</strong>
      <%= @artifact.inventory_number %>
    </div>
    <br>
    <div>
      <strong>Múzeum:</strong>
      <%= @artifact.museum_name %>
    </div>
    <br>
    <div>
      <strong>Gyűjtemény:</strong>
      <%= @artifact.collection %>
    </div>
    <br>
    <div>
      <strong>Korszak:</strong>
      <%= @artifact.era %>
    </div>
    <br>
    <div>
      <strong>Készítő:</strong>
      <%= @artifact.creator %>
    </div>
    <br>
    <div>
      <strong>Mennyiség:</strong>
      <%= @artifact.quantity %>
    </div>
    <br>
    <div>
      <strong>Tulajdonos:</strong>
      <%= @artifact.owner %>
    </div>
    <br>
    <div>
      <strong>Beszerzés:</strong>
      <%= @artifact.acquisition %>
    </div>
    <br>
    <div>
      <strong>Ár:</strong>
      <%= @artifact.price %>
    </div>
    <br>
    <div>
      <strong>Beleltározta:</strong>
      <%= @artifact.inventory_by %>
    </div>
    <br>
    <div>
      <strong>Revízió dátuma:</strong>
      <%= @artifact.revision_date %>
    </div>
    <br>
    <div>
      <strong>Revíziót végezte:</strong>
      <%= @artifact.revision_by %>
    </div>
    <br>
  </div>
  <div class="description-box-show">
    <div>
      <strong>Leírás:</strong>
      <%= @artifact.description %>
    </div>
    <br>
    <div>
      <% if @artifact.image.attached? == false %>
        <p>Nincs hozzácsatolt kép.</p>
      <% else @artifact.image.previewable? %>
        <%= image_tag(@artifact.image, style: "width:40%") %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to 'Szerkesztés', edit_artifact_path(@artifact), :class => "btn btn-light" %>
<%= link_to 'Műtárgyak listája', artifacts_path, :class => "btn btn-light" %>
