<link href="https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap" rel="stylesheet">

<div>
    <strong>Név:</strong>
    <%= @artifact.name %>
</div>

<div>
    <strong>Leltárszám:</strong>
    <%= @artifact.inventory_number %>
</div>

<div>
    <strong>Múzeum:</strong>
    <%= @artifact.museum_name %>
</div>

<div>
    <strong>Gyűjtemény:</strong>
    <%= @artifact.collection %>
</div>

<div>
    <strong>Korszak:</strong>
    <%= @artifact.era %>
</div>

<div>
    <strong>Készítő:</strong>
    <%= @artifact.creator %>
</div>

<div>
    <strong>Mennyiség:</strong>
    <%= @artifact.quantity %>
</div>

<div>
    <strong>Tulajdonos:</strong>
    <%= @artifact.owner %>
</div>

<div>
    <strong>Beszerzés:</strong>
    <%= @artifact.acquisition %>
</div>

<div>
    <strong>Ár:</strong>
    <%= @artifact.price %>
</div>

<div>
    <strong>Beleltározta:</strong>
    <%= @artifact.inventory_by %>
</div>

<div>
    <strong>Revízió dátuma:</strong>
    <%= @artifact.revision_date %>
</div>

<div>
    <strong>Revíziót végezte:</strong>
    <%= @artifact.revision_by %>
</div>

<div>
    <strong>Leírás:</strong>
    <%= @artifact.description %>
</div>

<div>
    <% if @artifact.image.attached? == false %>
        <p>Nincs hozzácsatolt kép.</p>
    <% else @artifact.image.previewable? %>
        <%= image_tag(@artifact.image, style: "width:20%") %>
    <% end %>
</div>

<%= link_to 'Szerkesztés', edit_artifact_path(@artifact), :class => "btn btn-light" %>
<%= link_to 'Műtárgyak listája', artifacts_path, :class => "btn btn-light" %>